* {
    margin: 0;
    padding: 0;
    outline:0;
    box-sizing: border-box;
  }

body {
    background-color: #18191A !important;
}

.formulario {
    width: 900px;
    height: 750px;
    background-color: #4cffff;
    border: 2px solid;
    border-radius: 5px;
    margin: 4rem auto !important;
  }

  .search-button {
    background-color: #001919 !important;
    width: 100px;
    border: 2px solid black !important;
    border-radius: 5px;
    color: white !important;
  }
  .botao{
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    text-align: center;
  }
  .label {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500 !important;
    font-size: 16px !important;
    margin-bottom: 10px !important;
}
